h1 {
  font-family: 'Source Sans Pro';
  color: white;
  background-color: grey;
  padding: 20px;
}

h2 {
  font-family: sans-serif;
  font-size: 26px;
}

p {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
}

.original {
  background-color: coral;
}

.intro {
  font-weight: lighter;
}

.pic {
  background: url(https://i.ytimg.com/vi/SmHY3xqRmP4/maxresdefault.jpg);
  width: : 100%;
}

